# Зависимости
node_modules/
package-lock.json

# Файлы окружения
.env

# Кэш и временные файлы
cache/*
!cache/.gitkeep
*.log
.DS_Store

# Директории с генерируемым контентом
output/*
!output/.gitkeep
public/images/*
!public/images/.gitkeep 